@page
@model IndexModel
@{
    ViewData["Title"] = "Pollen Forecast";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Pollen"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <h1>Pollen Forecast in Sundsvall</h1>
    <div id="pollen-levels">
        @Html.Raw(Model.PollenHtml)
    </div>
@*     <footer>
        <p>&copy; 2025 PollenApp. All rights reserved.</p>
    </footer> *@
</body>
</html>



