/* Base styles */
html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f0fc;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
}

/* Headings */
h1 {
    color: #ff69b4;
    text-align: center;
    margin-top: 20px;
}

/* Buttons */
button {
    background-color: #ffb6c1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 12px;
    display: block;
}

    button:hover {
        background-color: #ff69b4;
    }

/* Pollen levels container */
#pollen-levels {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff0f5;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    #pollen-levels div {
        background-color: #ffe4e1;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 10px;
    }

    #pollen-levels h3 {
        color: #ff69b4;
        margin: 0;
    }

    #pollen-levels p {
        margin: 5px 0;
    }

/* Images */
img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

/* Pollen card */
.pollen-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
}

/* Pollen icon */
.pollen-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

/* Footer */
footer {
    background-color: #ffb6c1;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

    footer p {
        margin: 0;
    }

/* Media queries */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
